Connected Services/ElectronicsHubBackendService/BackendService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54504/BackendService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodCatId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetProductCategoryResult" nillable="true" type="q2:ProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetProductCategoriesResult" nillable="true" type="q3:ArrayOfProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSubcategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSubcategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetProductSubcategoriesResult" nillable="true" type="q4:ArrayOfProductSubcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q5:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetProductByIdResult" nillable="true" type="q6:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetProductsByCategoryResult" nillable="true" type="q7:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsBySubcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subcategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsBySubcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetProductsBySubcategoryResult" nillable="true" type="q8:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetProductReviewsResult" nillable="true" type="q9:ArrayOfProductReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetProductImageResult" nillable="true" type="q10:ProductImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalProductImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalProductImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetAdditionalProductImagesResult" nillable="true" type="q11:ArrayOfProductImageExtra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpvoteProductReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="reviewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpvoteProductReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpvoteProductReviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductReviewUpvoteCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodReviewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductReviewUpvoteCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductReviewUpvoteCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetCartResult" nillable="true" type="q12:Cart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="GetCartItemsResult" nillable="true" type="q13:ArrayOfCartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="cartItem" nillable="true" type="q14:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCartItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCartItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCartItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCartItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" minOccurs="0" name="CartItem" nillable="true" type="q15:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCartItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>