Connected Services/ElectronicsHubBackendService/BackendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BackendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54504/BackendService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54504/BackendService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54504/BackendService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBackendService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IBackendService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IBackendService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRole" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategories" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductSubcategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSubcategories" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductSubcategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSubcategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackendService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/RegisterUser" message="tns:IBackendService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/RegisterUserResponse" message="tns:IBackendService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/LoginUser" message="tns:IBackendService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/LoginUserResponse" message="tns:IBackendService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetUserRole" message="tns:IBackendService_GetUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetUserRoleResponse" message="tns:IBackendService_GetUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetUser" message="tns:IBackendService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetUserResponse" message="tns:IBackendService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductCategories" message="tns:IBackendService_GetProductCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductCategoriesResponse" message="tns:IBackendService_GetProductCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductSubcategories" message="tns:IBackendService_GetProductSubcategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductSubcategoriesResponse" message="tns:IBackendService_GetProductSubcategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBackendService" type="tns:IBackendService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IBackendService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IBackendService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRole">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategories">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductSubcategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackendService">
    <wsdl:port name="BasicHttpBinding_IBackendService" binding="tns:BasicHttpBinding_IBackendService">
      <soap:address location="http://localhost:54504/BackendService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>