Connected Services/ElectronicsHubBackendService/BackendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BackendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54504/BackendService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54504/BackendService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54504/BackendService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBackendService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IBackendService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IBackendService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategory" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductSubcategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSubcategory" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductSubcategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSubcategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategories" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductSubcategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSubcategories" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductSubcategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSubcategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByStatus" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpdateProductStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductStatus" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpdateProductStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByCategory" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductsBySubcategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsBySubcategory" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductsBySubcategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsBySubcategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductReviews" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductImage" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductImageResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetAdditionalProductImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdditionalProductImages" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetAdditionalProductImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdditionalProductImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpvoteProductReview_InputMessage">
    <wsdl:part name="parameters" element="tns:UpvoteProductReview" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpvoteProductReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpvoteProductReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductReviewUpvoteCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductReviewUpvoteCount" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetProductReviewUpvoteCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductReviewUpvoteCountResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetCartItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItems" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetCartItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateCartItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCartItem" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateCartItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_RemoveCartItem_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCartItem" />
  </wsdl:message>
  <wsdl:message name="IBackendService_RemoveCartItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpdateCartItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCartItem" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpdateCartItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpdateOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IBackendService_UpdateOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateOrderDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderDelivery" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateOrderDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderItem" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreateOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetails" />
  </wsdl:message>
  <wsdl:message name="IBackendService_GetOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePayment" />
  </wsdl:message>
  <wsdl:message name="IBackendService_CreatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackendService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/RegisterUser" message="tns:IBackendService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/RegisterUserResponse" message="tns:IBackendService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/LoginUser" message="tns:IBackendService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/LoginUserResponse" message="tns:IBackendService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetUser" message="tns:IBackendService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetUserResponse" message="tns:IBackendService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductCategory" message="tns:IBackendService_GetProductCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductCategoryResponse" message="tns:IBackendService_GetProductCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductSubcategory" message="tns:IBackendService_GetProductSubcategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductSubcategoryResponse" message="tns:IBackendService_GetProductSubcategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductCategories" message="tns:IBackendService_GetProductCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductCategoriesResponse" message="tns:IBackendService_GetProductCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductSubcategories" message="tns:IBackendService_GetProductSubcategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductSubcategoriesResponse" message="tns:IBackendService_GetProductSubcategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductByStatus" message="tns:IBackendService_GetProductByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductByStatusResponse" message="tns:IBackendService_GetProductByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/CreateProduct" message="tns:IBackendService_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/CreateProductResponse" message="tns:IBackendService_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/UpdateProductStatus" message="tns:IBackendService_UpdateProductStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/UpdateProductStatusResponse" message="tns:IBackendService_UpdateProductStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/UpdateProduct" message="tns:IBackendService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/UpdateProductResponse" message="tns:IBackendService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetAllProducts" message="tns:IBackendService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetAllProductsResponse" message="tns:IBackendService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductById" message="tns:IBackendService_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductByIdResponse" message="tns:IBackendService_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductsByCategory" message="tns:IBackendService_GetProductsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductsByCategoryResponse" message="tns:IBackendService_GetProductsByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsBySubcategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductsBySubcategory" message="tns:IBackendService_GetProductsBySubcategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductsBySubcategoryResponse" message="tns:IBackendService_GetProductsBySubcategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductReviews" message="tns:IBackendService_GetProductReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductReviewsResponse" message="tns:IBackendService_GetProductReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductImage" message="tns:IBackendService_GetProductImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductImageResponse" message="tns:IBackendService_GetProductImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdditionalProductImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetAdditionalProductImages" message="tns:IBackendService_GetAdditionalProductImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetAdditionalProductImagesResponse" message="tns:IBackendService_GetAdditionalProductImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpvoteProductReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/UpvoteProductReview" message="tns:IBackendService_UpvoteProductReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/UpvoteProductReviewResponse" message="tns:IBackendService_UpvoteProductReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductReviewUpvoteCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetProductReviewUpvoteCount" message="tns:IBackendService_GetProductReviewUpvoteCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetProductReviewUpvoteCountResponse" message="tns:IBackendService_GetProductReviewUpvoteCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetCart" message="tns:IBackendService_GetCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetCartResponse" message="tns:IBackendService_GetCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetCartItems" message="tns:IBackendService_GetCartItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetCartItemsResponse" message="tns:IBackendService_GetCartItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCartItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/CreateCartItem" message="tns:IBackendService_CreateCartItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/CreateCartItemResponse" message="tns:IBackendService_CreateCartItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCartItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/RemoveCartItem" message="tns:IBackendService_RemoveCartItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/RemoveCartItemResponse" message="tns:IBackendService_RemoveCartItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCartItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/UpdateCartItem" message="tns:IBackendService_UpdateCartItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/UpdateCartItemResponse" message="tns:IBackendService_UpdateCartItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/CreateOrder" message="tns:IBackendService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/CreateOrderResponse" message="tns:IBackendService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/UpdateOrderStatus" message="tns:IBackendService_UpdateOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/UpdateOrderStatusResponse" message="tns:IBackendService_UpdateOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrderDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/CreateOrderDelivery" message="tns:IBackendService_CreateOrderDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/CreateOrderDeliveryResponse" message="tns:IBackendService_CreateOrderDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDeliveryAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/CreateDeliveryAddress" message="tns:IBackendService_CreateDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/CreateDeliveryAddressResponse" message="tns:IBackendService_CreateDeliveryAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetDeliveryAddress" message="tns:IBackendService_GetDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetDeliveryAddressResponse" message="tns:IBackendService_GetDeliveryAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/CreateOrderItem" message="tns:IBackendService_CreateOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/CreateOrderItemResponse" message="tns:IBackendService_CreateOrderItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/GetOrderDetails" message="tns:IBackendService_GetOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/GetOrderDetailsResponse" message="tns:IBackendService_GetOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackendService/CreatePayment" message="tns:IBackendService_CreatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackendService/CreatePaymentResponse" message="tns:IBackendService_CreatePayment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBackendService" type="tns:IBackendService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IBackendService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IBackendService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategory">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategory">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductSubcategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSubcategories">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductSubcategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByStatus">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://tempuri.org/IBackendService/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductStatus">
      <soap:operation soapAction="http://tempuri.org/IBackendService/UpdateProductStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IBackendService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsBySubcategory">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductsBySubcategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductReviews">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductImage">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdditionalProductImages">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetAdditionalProductImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpvoteProductReview">
      <soap:operation soapAction="http://tempuri.org/IBackendService/UpvoteProductReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductReviewUpvoteCount">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetProductReviewUpvoteCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetCartItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCartItem">
      <soap:operation soapAction="http://tempuri.org/IBackendService/CreateCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCartItem">
      <soap:operation soapAction="http://tempuri.org/IBackendService/RemoveCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCartItem">
      <soap:operation soapAction="http://tempuri.org/IBackendService/UpdateCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IBackendService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IBackendService/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrderDelivery">
      <soap:operation soapAction="http://tempuri.org/IBackendService/CreateOrderDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDeliveryAddress">
      <soap:operation soapAction="http://tempuri.org/IBackendService/CreateDeliveryAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryAddress">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetDeliveryAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrderItem">
      <soap:operation soapAction="http://tempuri.org/IBackendService/CreateOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap:operation soapAction="http://tempuri.org/IBackendService/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <soap:operation soapAction="http://tempuri.org/IBackendService/CreatePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackendService">
    <wsdl:port name="BasicHttpBinding_IBackendService" binding="tns:BasicHttpBinding_IBackendService">
      <soap:address location="http://localhost:54504/BackendService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>