Connected Services/ElectronicsHubBackendService/BackendService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElectronicsHub_Backend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carts" nillable="true" type="tns:ArrayOfCart" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductReviewUpvotes" nillable="true" type="tns:ArrayOfProductReviewUpvote" />
      <xs:element minOccurs="0" name="ProductReviews" nillable="true" type="tns:ArrayOfProductReview" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart" nillable="true" type="tns:ArrayOfCart" />
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartId" type="xs:int" />
      <xs:element minOccurs="0" name="CartItems" nillable="true" type="tns:ArrayOfCartItem" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
  <xs:complexType name="ArrayOfCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartItem" nillable="true" type="tns:CartItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartItem" nillable="true" type="tns:ArrayOfCartItem" />
  <xs:complexType name="CartItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cart" nillable="true" type="tns:Cart" />
      <xs:element minOccurs="0" name="CartId" type="xs:int" />
      <xs:element minOccurs="0" name="CartItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartItem" nillable="true" type="tns:CartItem" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CartItems" nillable="true" type="tns:ArrayOfCartItem" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
      <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductImageExtras" nillable="true" type="tns:ArrayOfProductImageExtra" />
      <xs:element minOccurs="0" name="ProductImages" nillable="true" type="tns:ArrayOfProductImage" />
      <xs:element minOccurs="0" name="ProductReviews" nillable="true" type="tns:ArrayOfProductReview" />
      <xs:element minOccurs="0" name="ProductSubcategory" nillable="true" type="tns:ProductSubcategory" />
      <xs:element minOccurs="0" name="ProductSubcategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubcategories" nillable="true" type="tns:ArrayOfProductSubcategory" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="ArrayOfProductSubcategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSubcategory" nillable="true" type="tns:ProductSubcategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSubcategory" nillable="true" type="tns:ArrayOfProductSubcategory" />
  <xs:complexType name="ProductSubcategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
      <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubcategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSubcategory" nillable="true" type="tns:ProductSubcategory" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfProductImageExtra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductImageExtra" nillable="true" type="tns:ProductImageExtra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductImageExtra" nillable="true" type="tns:ArrayOfProductImageExtra" />
  <xs:complexType name="ProductImageExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductImageExtraId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductImageExtra" nillable="true" type="tns:ProductImageExtra" />
  <xs:complexType name="ArrayOfProductImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductImage" nillable="true" type="tns:ProductImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductImage" nillable="true" type="tns:ArrayOfProductImage" />
  <xs:complexType name="ProductImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="LargePhotoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductImageId" type="xs:int" />
      <xs:element minOccurs="0" name="ThumbnailUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductImage" nillable="true" type="tns:ProductImage" />
  <xs:complexType name="ArrayOfProductReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductReview" nillable="true" type="tns:ProductReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductReview" nillable="true" type="tns:ArrayOfProductReview" />
  <xs:complexType name="ProductReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductReviewId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductReviewUpvotes" nillable="true" type="tns:ArrayOfProductReviewUpvote" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductReview" nillable="true" type="tns:ProductReview" />
  <xs:complexType name="ArrayOfProductReviewUpvote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductReviewUpvote" nillable="true" type="tns:ProductReviewUpvote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductReviewUpvote" nillable="true" type="tns:ArrayOfProductReviewUpvote" />
  <xs:complexType name="ProductReviewUpvote">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductReview" nillable="true" type="tns:ProductReview" />
      <xs:element minOccurs="0" name="ProductReviewId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductReviewUpvoteId" type="xs:int" />
      <xs:element minOccurs="0" name="UpvoterUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductReviewUpvote" nillable="true" type="tns:ProductReviewUpvote" />
  <xs:complexType name="ArrayOfProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCategory" nillable="true" type="tns:ArrayOfProductCategory" />
</xs:schema>